/* Write your CSS here */
.bg {
  background-color: #ffd569;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  background-size: cover;
  height: 80vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  height: 30vh;
  width: 20vw;
}

.fruit-container {
  display: flex;
  flex-direction: row;
}

.fruit {
  display: flex;
  flex-direction: column;
  margin: 25px;
  align-items: center;
}

.button {
  background-color: #007bff;
  border-radius: 8px;
  height: 30px;
  width: 120px;
  margin-top: 10px;
  border-width: 0;
  color: #ffffff;
  font-weight: 500;
  font-family: Roboto;
}

.number {
  color: #ffd569;
}
